* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

html:hover::-webkit-scrollbar-thumb {
  background-color: red;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--text-color);
  // opacity: 0.9;
}

a,
button,
input,
textarea,
svg {
  transition-duration: var(--transition-duration);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  &,
  &:hover {
    text-decoration: none;
  }
}

li {
  list-style-type: none;
}

h2 {
  font-size: var(--h2-size);
}

h3 {
  font-size: var(--h3-size);
}
h4 {
  font-size: var(--h4-size);
}
