:root {
  --font-family: "Roboto", sans-serif;
  --line-height: 1.2;
  --font-weight: 400;

  --text-color: #222;
  --color-accent: #c41429;
  --dots-color: #c4c4c4;
  --color-gallery: #f4f4f4;

  --container-width: 1180px;
  --container-padding-x: 20px;

  --h2-size: 3rem;
  --h3-size: 2.5rem;
  --h4-size: 1.1rem;
}
